[Desktop Entry]
Name=File Browser
GenericName=File Manager
Comment=Manage your files and folders
Exec=/usr/bin/flatpak run org.kde.dolphin %u
Icon=system-file-manager
Type=Application
Categories=System;FileTools;FileManager;
Terminal=false
